<div>
  <app-custom-navigation></app-custom-navigation>
  <div class="container">
    <div class="card mb-3" style="max-width: 1350px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://d3kjluh73b9h9o.cloudfront.net/original/4X/3/f/f/3ff63cffba405b2f7416e0275d751b001f60454c.jpeg"
            class="img-fluid rounded-start"
            alt="..."
            style="height: 100%; object-fit: cover;"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Welcome traveler</h5>
            <p class="card-text">
              I see you have been asking a few questions about how Solrynthia
              was created. Very well, this fictional world was born as a
              project, designed to practice my web development skills. My name
              is Aleandro Presta, and I wanted to create a web application to
              improve my Angular, Bootstrap, HTML and CSS.
            </p>
            <p class="card-text">
              <small class="text-body-secondary"
                >Last updated 21 Aug. 2024</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-custom-footer></app-custom-footer>
</div>
