<div class="about">
  <app-custom-navigation></app-custom-navigation>
  <div
    class="container text-center my-5 d-flex justify-content-center align-items-center"
  >
    <div class="card mb-3" style="max-width: 1000px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://image.cdn2.seaart.ai/2023-06-25/38335912325189/0fc553f98f602c021c2c763a4ff814b0271675b4_high.webp"
            class="img-fluid rounded-start"
            alt="..."
            style="height: 100%; object-fit: cover"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Welcome traveler</h5>
            <p class="card-text">
              Behold the tale of Solrynthia's creation! In the realms of code
              and creativity, I, Aleandro Presta, embarked on a grand quest to
              forge a world from the very essence of web development.
              Solrynthia, a land of imagination and wonder, was crafted as a
              testament to my mastery of Angular, Bootstrap, HTML, and CSS—a
              digital tapestry woven with skill and passion. Should you seek to
              learn more about the architect of this mystical realm, venture
              forth to my personal website, explore the chronicles on my
              LinkedIn, or delve into the repositories of my GitHub.
            </p>
            <div>
              <a
                href="https://aleandropresta.github.io/portfolio-deploy/"
                target="blank"
                ><img
                  src="https://img.shields.io/badge/Portfolio-%23000000.svg?style=for-the-badge&logo=firefox&logoColor=#FF7139"
                  alt="Portfolio icon"
              /></a>
              <a href="https://www.linkedin.com/in/aleandro-presta-6523471b9/" target="blank"
                ><img
                  src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                  alt="Linkedin icon"
              /></a>
              <a
                href="https://github.com/AleandroPresta"
                target="blank"
                ><img
                  src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                  alt="GitHub icon"
              /></a>
            </div>
            <p class="card-text">
              <small class="text-body-secondary"
                >Last updated 21 Aug. 2024</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-custom-footer></app-custom-footer>
