<app-landing></app-landing>
<div class="content">
  <app-showcase-left
    [title]="'Lake of Lumara'"
    [description]="
      'In a misty valley, the Lake of Lumara shimmers with an otherworldly light. At its center, a solitary peak rises, topped by a simple manor, its spires gently reflected in the serene waters.'
    "
    [imageUrl]="
      'https://img.freepik.com/premium-photo/imaginary-landscapes_796443-992.jpg'
    "
  >
  </app-showcase-left>
  <app-showcase-right
    [title]="'The Mystical Tower'"
    [description]="
      'The Mystical Tower stands alone, shrouded in enigma. Its walls are etched with ancient runes, and within its heights, secrets of forgotten ages lie hidden, guarded by mystical forces.'
    "
    [imageUrl]="
      'https://e0.pxfuel.com/wallpapers/323/212/desktop-wallpaper-gray-building-illustration-ancient-babylon-toi-fantasy.jpg'
    "
  ></app-showcase-right>
  <app-showcase-left
    [title]="'Lake of Lumara'"
    [description]="
      'In a misty valley, the Lake of Lumara shimmers with an otherworldly light. At its center, a solitary peak rises, topped by a simple manor, its spires gently reflected in the serene waters.'
    "
    [imageUrl]="
      'https://img.freepik.com/premium-photo/imaginary-landscapes_796443-992.jpg'
    "
  >
  </app-showcase-left>
</div>
<app-custom-footer></app-custom-footer>
