<app-landing></app-landing>
<app-showcase-left
[title]="'Lake of Lumara'"
[description]="
  'In a misty valley, the Lake of Lumara shimmers with an otherworldly light. At its center, a solitary peak rises, topped by a simple manor, its spires gently reflected in the serene waters.'"
[imageUrl]="'https://img.freepik.com/premium-photo/imaginary-landscapes_796443-992.jpg'"
>
</app-showcase-left>
<app-showcase-right
[title]="'The City of Spires'"
[description]="
  'The City of Spires is a place of wonder and mystery. Its towering buildings are said to be the work of ancient gods, and its streets are filled with strange and wondrous creatures.'"
[imageUrl]="'https://img.freepik.com/premium-photo/imaginary-landscapes_796443-992.jpg'"
></app-showcase-right>
