.showcase-left {
  min-height: 80vh;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

h1,
p {
  color: white;
  font-family: "Cormorant Garamond", serif;
}

.limited-width {
  max-width: 40ch; /* Limits line length to approximately 20 characters */
  overflow-wrap: break-word; /* Allows breaking long words */
  word-break: break-all; /* Ensures long words break to fit the line */
}

.responsive-img {
  /* Fixed size on large screens */
  width: 420px;
  height: 600px;
  object-fit: cover; /* Optional: ensures the image covers the area without distortion */
}

@media (max-width: 991.98px) {
  /* Adjust the breakpoint as needed */
  .responsive-img {
    width: 80%;
    height: auto;
  }
}
