<section class="showcase-left">
    <div class="container d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center gap-2">
        <div class="">
            <app-tagline [content]="'Get Started'"></app-tagline>
            <h1>Lake of Lumara</h1>
            <p class="limited-width">In a misty valley, the Lake of Lumara shimmers with an otherworldly 
                    light. At its center, a solitary peak rises, topped by a simple manor, 
                    its spires gently reflected in the serene waters.</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="responsive-img" src="https://img.freepik.com/premium-photo/imaginary-landscapes_796443-992.jpg" alt="Miracle Lake">
        </div>
    </div>
</section>

